// LOGO ZEBRA HERO
.dolar {
    opacity: 0;
    animation: exteriors 8s ease 1s infinite alternate none;
}
.euro {
    opacity: 0;
    animation: exteriors 8s ease 1s infinite alternate none;
}
.libra {
    opacity: 0;
    animation: exteriors 8s ease 1s infinite alternate none;
}
.real-svg {
    opacity: 0;
    animation: internal 8s ease 1s infinite alternate none;
}

@keyframes exteriors {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 50%;
        transform: translateX(150px);
    }
    100% {
        opacity: 0;
        transform: translateX(150px);
    }
}

@keyframes internal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(150px);
    }
}

// PC E CEL
.z-nome-pc {
    opacity: 0;
    animation: zebra 8s ease infinite alternate none;
}

.z-nome-cel {
    opacity: 0;
    animation: zebra 8s ease 4s infinite alternate none;
}

.z-logo-pc-svg {
    opacity: 0;
    animation: appear 8s ease forwards;
}

.z-logo-cel-svg {
    opacity: 0;
    animation: appear 8s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zebra {
    from {
        stroke-dasharray: 1 1000;
        stroke-dashoffset: 0;
        stroke-width: 1;
        opacity: 1;
    }
    to {
        stroke-dasharray: 150 0;
        stroke-dashoffset: 0;
        stroke-width: 1;
        opacity: 1;
    }
}

        