.icon {
  max-width: 50px;
  transition: 0.5s ease;
  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-s {
  max-width: 36px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 32px;
  }

  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-sp {
  max-width: 20px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 14px;
  }

  &:hover {
    transform: translate(0, -4px, 0);
  }
}

.icon-l {
  max-width: 120px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 96px;
  }
}

.icon-xl {
  max-width: 400px;
  transition: 0.5s ease;

  @include responsive(s) {
    max-width: 200px;
  }
}
