* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/spacing";
@import "partials/typography";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;

  background-color: $background;

  cursor: default;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
    display: none;
  }
}

.border {
  border: 1px solid red;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

svg,
img {
  width: 100%;
  //height: auto;
}

@import "partials/menu";
@import "partials/icons";
@import "partials/buttons";
@import "partials/animations";
@import "partials/footer";
