* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "partials/colors";
@import "partials/layout";
@import "partials/spacing";
@import "partials/typography";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: relative;

  background-color: $background;

  cursor: default;

  &::-webkit-scrollbar {
    padding-right: 2px;
    width: 8px;
    background: transparent;
    display: none;
  }
}

.border {
  border: 1px solid $gray-7;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

img {
  width: 100%;
  //height: auto;
}

#logo-zebra {
  width: 90%;
}

.border-radius {
  border-radius: 10px;
}

.pc {
  position: absolute;
  top: 60%;
  left: -50%;
  z-index: -1;
  @include responsive(s) {
    display: none;
  }
}

.cel {
  position: absolute;
  top: 0;
  right: -18%;
  z-index: -1;
  @include responsive(s) {
    display: none;
  }
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  margin:8px 16px;
  &:hover{
transform: translateY(-5px);
  }
}

.author{
  @include responsive(s){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .p5{
      margin-top: 8px;
    }
  }
}
@import "partials/menu";
@import "partials/icons";
@import "partials/buttons";
@import "partials/animations";
